################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/WroverDisplayTest/.vs/WroverDisplayTest
/src/WroverDisplayTest/bin/Debug
/src/WroverDisplayTest/obj/Debug
/src/WroverDisplayTest/packages
